*
{
	margin:0px;
	padding:0px;
	border:none;
	outline:none;
	transition:all 0.25s linear;
}
body
{
	display:flex;
	flex-direction:column;
	justify-content:space-between;
	align-items:center;
}
.card-container
{
	display:flex;
	flex-direction:column;
	justify-content:center;
	align-items:center;
}
.card
{
	width:50vh;
	height:15vh;
	background:rgba(2,3,2,0.9);
	padding:6px ;
	margin:10px 40px;
}
.card:nth-child(1)
{
	background: rgb(0 158 158);
}
.card:nth-child(2)
{
	    background: rgb(158 0 29);
}
.card:nth-child(3)
{
	    background: #AB47BC;
}
.card-row
{
	background:rgba(255,255,255,0.2);
	width:100%;
	height:calc(100%/3);
	margin:2px;
	display:flex;
	justify-content:center;
}
.card-cell
{
	background:rgba(255,255,255,0.2);
	height:100%;
	flex-grow:1;
	flex-basis:0;
	margin:0px 1px;
	display:flex;
	justify-content:center;
	align-items:center;
font-weight:bold;
}
.done
{
	/*background:rgba(255,255,7,0.9);*/
}
.select
{
	background:rgba(255,255,7,0.9);
}
.no
{
	display:flex;
	justify-content:center;
	align-items:center;
	font-size:3rem;
	margin:2vh;

}
.btn
{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60vw;
    height: 15vw;
    font-size: xx-large;
    text-transform:capitalize;
    z-index: 106;
    position:fixed;
    bottom:10px;
}


@media only screen and (max-width:600px)
{
	.card:nth-child(1)
	{
		transform: rotateZ(90deg) translate(120px, 110px);
	}
	.card:nth-child(2)
	{
		transform: translate(0px, 240px);
	}
	.card:nth-child(3)
	{
		transform: rotateZ(-90deg) translate(120px, 110px);
	}
	.no
	{
		    transform: translate(0px, -250px);
	}
}













.container 
{
  width: 100%;
  height: 100%;
  z-index:100;
}
.confetti {
  width: 15px;
  height: 15px;
  background-color: #f2d74e;
  position: absolute;
  left: 50%;
  animation: confetti 1.134s ease-in-out -2s infinite;
  transform-origin: left top;
}
.confetti:nth-child(1) {
  background-color: #f2d74e; left: 10%; animation-delay: 0;
}
.confetti:nth-child(2) {
  background-color: #95c3de; left: 20%; animation-delay: -5s;
}
.confetti:nth-child(3) {
  background-color: #ff9a91; left: 30%; animation-delay: -3s;
}
.confetti:nth-child(4) {
  background-color: #f2d74e; left: 40%; animation-delay: -2.5s;
}
.confetti:nth-child(5) {
  background-color: #95c3de; left: 50%; animation-delay: -4s;
}
.confetti:nth-child(6) {
  background-color: #ff9a91; left: 60%; animation-delay: -6s;
}
.confetti:nth-child(7) {
  background-color: #f2d74e; left: 70%; animation-delay: -1.5s;
}
.confetti:nth-child(8) {
  background-color: #95c3de; left: 80%; animation-delay: -2s;
}
.confetti:nth-child(9) {
  background-color: #ff9a91; left: 90%; animation-delay: -3.5s;
}
.confetti:nth-child(10) {
  background-color: #f2d74e; left: 100%; animation-delay: -2.5s;
}
.confetti:nth-child(11) {
  background-color: #f2d74e; left: 10%; animation-delay: 0;
}
.confetti:nth-child(12) {
  background-color: #95c3de; left: 20%; animation-delay: 5s;
}
.confetti:nth-child(13) {
  background-color: #ff9a91; left: 30%; animation-delay: 3s;
}
.confetti:nth-child(14) {
  background-color: #f2d74e; left: 40%; animation-delay: 2.5s;
}
.confetti:nth-child(15) {
  background-color: #95c3de; left: 50%; animation-delay: 4s;
}
.confetti:nth-child(16) {
  background-color: #ff9a91; left: 60%; animation-delay: 6s;
}
.confetti:nth-child(17) {
  background-color: #f2d74e; left: 70%; animation-delay: 1.5s;
}
.confetti:nth-child(18) {
  background-color: #95c3de; left: 80%; animation-delay: 2s;
}
.confetti:nth-child(19) {
  background-color: #ff9a91; left: 90%; animation-delay: 3.5s;
}
.confetti:nth-child(20) {
  background-color: #f2d74e; left: 100%; animation-delay: 2.5s;
}
.confetti:nth-child(21) {
  background-color: #f2d74e; left: 10%; animation-delay: 0.4;
}
.confetti:nth-child(22) {
  background-color: #95c3de; left: 20%; animation-delay: -5.3s;
}
.confetti:nth-child(23) {
  background-color: #ff9a91; left: 30%; animation-delay: -2.8s;
}
.confetti:nth-child(24) {
  background-color: #f2d74e; left: 40%; animation-delay: -2.2s;
}
.confetti:nth-child(25) {
  background-color: #95c3de; left: 50%; animation-delay: -4.7s;
}
.confetti:nth-child(26) {
  background-color: #ff9a91; left: 60%; animation-delay: -6.4s;
}
.confetti:nth-child(27) {
  background-color: #f2d74e; left: 70%; animation-delay: -1.2s;
}
.confetti:nth-child(28) {
  background-color: #95c3de; left: 80%; animation-delay: -2.4s;
}
.confetti:nth-child(29) {
  background-color: #ff9a91; left: 90%; animation-delay: -3.5s;
}
.confetti:nth-child(30) {
  background-color: #f2d74e; left: 100%; animation-delay: -2.2s;
}
@keyframes confetti {
  0% { transform: rotateZ(15deg) rotateY(0deg) translate(0,0); }
  25% { transform: rotateZ(5deg) rotateY(360deg) translate(-5vw,20vh); }
  50% { transform: rotateZ(15deg) rotateY(720deg) translate(5vw,60vh); }
  75% { transform: rotateZ(5deg) rotateY(1080deg) translate(-10vw,80vh); }
  100% { transform: rotateZ(15deg) rotateY(1440deg) translate(10vw,110vh); }
}
